# Tauri
/src-tauri/target
/src-tauri/dist
/src-tauri/binaries
/src-tauri/python_bin
/src-tauri/python_executables/
/src-tauri/src/python_bin
/src-tauri/src/python_executables/
/src-tauri/.venv
build
python_build

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.pnpm-store
dist/
.pnpm-debug.log*

*.pyc

credentials.json
.env
.env.local
.env.*.local
